
/* Domyślnie dla wszystkich selektorów */
* {
    font-family: Helvetica, sans-serif;
}

/* Styl dla ciała strony */
body {
    background-color: #EAEAEA;
}

/* Styl dla nagłówka */
header {
    text-align: center;
    margin-bottom: 20px;
}

/* Styl dla obrazu w nagłówku */
header img {
    width: 100%;
}

/* Styl dla menu */
nav {
    background-color: #625B5B;
    text-align: center;
    padding: 20px;
}

/* Styl dla odsyłaczy w menu */
nav a {
    font-weight: bold;
    background-color: #EAEAEA;
    color: #625B5B;
    padding: 10px 50px;
    margin: 0 10px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Efekt hover dla odsyłaczy w menu */
nav a:hover {
    background-color: #625B5B;
    color: #EAEAEA;
    border: 1px solid #EAEAEA;
}

/* Styl dla głównej zawartości */
main {
    margin: 20px;
}

/* Styl dla tabeli */
table {
    border: 1px dashed #625B5B;
    width: 60%;
    margin-left: 40px;
    text-align: center;
}

/* Styl dla listy punktowanej */
ul {
    margin-left: 40px;
    list-style-type: circle;
}

/* Styl dla stopki */
footer {
    background-color: #625B5B;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/* Styl dla kontrolek formularza */
.kontrolki {
    margin: 5px;
}
